@import "tailwindcss";

:root {
    --bg-color: #E7DCC3;
    --title-color: #1F3A2E;
    --text-color: #000000;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
}

h1 {
    font-family: var(--font-title);
    color: var(--title-color);
    letter-spacing: -0.025em;

}