@import "tailwindcss";

@theme {
    --color-title: #1F3A2E;
    --color-text: #000000;
    --color-text-2: #C46A4A;
    --color-text-3: #f7f8f2;
    --color-bg: #E7DCC3;
    --color-bg-card: #f4ebe2;
    --color-scroll: #6b7f4dbb;
}

:root {
    --bg-color: #E7DCC3;
    --bg-card: #f4ebe2;
    --title-color: #1F3A2E;
    --text-color: #000000;
    --text-color-2: #C46A4A;
    --text-color-3: #f7f8f2;
    --scroll-color: #6b7f4dbb;

    --ts-chart-1: #C46A4A;
    --ts-chart-2: #1F3A2E;
    --ts-chart-3: #6B7F4D;
    --ts-chart-4: #D48B6E;
    --ts-chart-5: #3A5C4C;
    --ts-chart-tooltip-background: var(--bg-card);
    --ts-chart-tooltip-color: var(--text-color);
    --ts-chart-tooltip-border: 1px solid color-mix(in srgb, var(--title-color) 20%, transparent);
}

.card {
    background-color: var(--bg-card);
}

button {
    cursor: pointer;
}

.text-color-2 {
    color: var(--text-color-2);
}

.text-color-3 {
    color: var(--text-color-3);
}

.title-font {
    font-family: var(--font-title);
    letter-spacing: -0.025em;
}

Link,
a {
    transition: all 0.15s;
    outline: none;
}

button {
    outline: none;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: var(--font-text);
    user-select: none;
}

h1 {
    font-family: var(--font-title);
    color: var(--title-color);
    letter-spacing: -0.025em;
}

/* scrollbar */
::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

::-webkit-scrollbar-track {
    background: color-mix(in srgb, var(--title-color) 20%, transparent);
}

::-webkit-scrollbar-thumb {
    background-color: var(--text-color-2);
    transition: background-color 0.3s;
    cursor: grab;
}

@media (min-width: 768px) {
    .image-fade {
        display: block;

        mask-image: linear-gradient(90deg,
                transparent 0%,
                black 40%);

        -webkit-mask-image: linear-gradient(90deg,
                transparent 0%,
                black 40%);
    }

    .image-fade::after {
        content: "";
        position: absolute;
        inset: 0;

        background: linear-gradient(120deg,
                var(--bg-card) 5%,
                color-mix(in srgb, var(--bg-card) 20%, transparent) 30%,
                color-mix(in srgb, var(--bg-card) 20%, transparent) 0%,
                transparent 40%);

        z-index: 0.1;
        pointer-events: none;
    }
}